body {
  font-family: Arial, Helvetica, sans-serif;
  color: #463f3a;
}

.hero {
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: #f4f3ee;
  text-align: center;
  padding: 160px 0;
}

#home-icon {
  font-size: 60px;
}

h1 {
  font-size: 96px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#intro-desc {
  font-size: 25px;
  font-weight: 200;
}

#desc {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: oblique;
}

#about-link {
  padding: 10px;
}

#about-link,
#about-link:hover,
#about-link:active,
#about-link:focus {
  background-color: #e0afa0;
  border-color: #e0afa0;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  align-items: flex-end;
}

img {
  width: 500px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.links {
  display: block;
  padding-bottom: 20px;
}

#dinner-photo {
  padding: 10px;
  width: 400px;
  border-radius: 20px;
}

#about-desc {
  padding: 40px;
  margin: 0 auto;
}

.about-container {
  padding-top: 20px;
  background-color: #f4f3ee;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
